NEXT_PUBLIC_NHOST_SUBDOMAIN=
NEXT_PUBLIC_NHOST_REGION=eu-central-1
NHOST_ADMIN_SECRET=
NEXT_PUBLIC_APP_URL=https://prayforplagues.vercel.app
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=https://prayforplagues.vercel.app/api/x/callback
